.row
  .five.columns.centered
    = render(:partial => 'shared/errors' ,:locals => {:object => @user})
    = form_for @user do |f|
      -if @user == @auth || @auth.nil?
        = f.label :name
        = f.text_field :name, :autofocus => true
      = f.label :image
      = f.text_field :image
      -if is_admin
        = f.label :balance
        = f.text_field :balance
      -if @user == @auth || @auth.nil?
        /Do NOT allow mismatch between user and auth
        = f.label :password
        = f.password_field :password
        = f.label :password_confirmation
        = f.password_field :password_confirmation
      = f.submit(nil, :class => 'button radius')

